.item {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.489);
}

.container {
    background-color:pink;
height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
    justify-content: center;
}
/* #item1 {
    align-self: flex-start;
    order:  */


